# Environment
.env
.env.local
.env.*.local

# Build outputs
build/
.svelte-kit/
dist/

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database
*.sqlite
*.sqlite3

# Generated
src/lib/graphql/generated/
